@font-face {
	font-family:"Noteworthy";
	font-style:normal;
	font-weight:normal;
	src : url("../font/noteworthy.ttf");
}

body {
	margin:20px 20px 50px 20px;
    font-size:30px;
    line-height:auto;
}

.NJNote {
  font-family:"Noteworthy";
}