@font-face {
	font-family:"Myriad Pro";
	font-style:normal;
	font-weight:bold;
	src : url("../font/MyriadPro-Bold.otf");
}
@font-face {
	font-family:"Myriad Pro";
	font-style:italic;
	font-weight:bold;
	src : url("../font/MyriadPro-BoldIt.otf");
}
@font-face {
	font-family:"Myriad Pro";
	font-style:oblique;
	font-weight:bold;
	src : url("../font/MyriadPro-BoldIt.otf");
}
@font-face {
	font-family:"Myriad Pro";
	font-style:italic;
	font-weight:normal;
	src : url("../font/MyriadPro-It.otf");
}
@font-face {
	font-family:"Myriad Pro";
	font-style:oblique;
	font-weight:normal;
	src : url("../font/MyriadPro-It.otf");
}
@font-face {
	font-family:"Myriad Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../font/MyriadPro-Regular.otf");
}
@font-face {
	font-family:"Times New Roman";
	font-style:italic;
	font-weight:bold;
	src : url("../font/TimesNewRomanPS-BoldItalicMT.ttf");
}
@font-face {
	font-family:"Times New Roman";
	font-style:oblique;
	font-weight:bold;
	src : url("../font/TimesNewRomanPS-BoldItalicMT.ttf");
}
@font-face {
	font-family:"Times New Roman";
	font-style:normal;
	font-weight:bold;
	src : url("../font/TimesNewRomanPS-BoldMT.ttf");
}
@font-face {
	font-family:"Times New Roman";
	font-style:italic;
	font-weight:normal;
	src : url("../font/TimesNewRomanPS-ItalicMT.ttf");
}
@font-face {
	font-family:"Times New Roman";
	font-style:oblique;
	font-weight:normal;
	src : url("../font/TimesNewRomanPS-ItalicMT.ttf");
}
@font-face {
	font-family:"Times New Roman";
	font-style:normal;
	font-weight:normal;
	src : url("../font/TimesNewRomanPSMT.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
body {
	-epub-hyphens:auto;
    -webkit-hyphens:auto;
    /* Fix for soft hyphen ligature bug in iOS 9.x */
    -webkit-font-variant-ligatures: no-common-ligatures;
}
@page {
	margin : 0px 0px 0px 0px;
}
div.Basic-Text-Frame {
}

/*
table.Tabellformat-1 {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:0px;
	margin-top:0px;
}
table.Basic-Table {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Cellformat-hoger {
	padding-bottom:3px;
	padding-left:9px;
	padding-right:1px;
	padding-top:3px;
}
td.Cellformat-vanster {
	padding-bottom:3px;
	padding-left:1px;
	padding-right:1px;
	padding-top:3px;
}
*/

p.Bilaga_NJ-bilaga-rubrik-1 {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.608em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.164;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0.5em;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bilaga_NJ-bilaga-rubrik-2 {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.608em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.164;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0.5em;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bilaga_NJ-brodtext-3 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.608em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.164;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.NJ-ingress {
	/* -epub-hyphens:none; */
	/* -webkit-hyphens:none; */
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:1px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.NJ-linje {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.567em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.NJ-redaktionell {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.567em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.NJ-redaktionell-efter-rubrik {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.567em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:2px;
	margin-left:9px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.NJ-redaktionell-indrag {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.567em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:1em;
	text-transform:none;
	widows:1;
}
p.Tyngd-1A_NJ-Forfattning-107 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:9px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-1A_NJ-Kapitel-104 {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:0.967;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:7px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-1A_NJ-Underrubrik-109 {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.088;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-1A_NJ-Underrubrik2-106 {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.667em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.188;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Tyngd-1A_NJ-brodtext-1 {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.188;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Tyngd-1A_NJ-brodtext-1-indrag {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.188;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:1em;
	text-transform:none;
	widows:2;
}
p.Tyngd-1_NJ-Avdelning-102 {
	-epub-hyphens:manual;
	-webkit-hyphens:manual;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:1.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:13px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-1_NJ-Forfattning-101 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.188;
	margin-bottom:2px;
	margin-left:0;
	margin-right:0;
	margin-top:29px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:always;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-1_NJ-Kapitel-103 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.091;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-1_NJ-Underrubrik-104 {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:7px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-1_NJ-Underrubrik2-105 {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.75em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-1_NJ-brodtext-1 {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.188;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Tyngd-1_NJ-brodtext-1-indrag {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.188;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:1em;
	text-transform:none;
	widows:2;
}
p.Tyngd-2_NJ-Avdelning-102 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:1.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:13px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-2_NJ-Forfattning-110 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:1.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.096;
	margin-bottom:5px;
	margin-left:0;
	margin-right:0;
	margin-top:15px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-2_NJ-Kapitel-103 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.091;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-2_NJ-Underrubrik-111 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.088;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-2_NJ-Underrubrik2-112 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.667em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.088;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-2_NJ-brodtext-2 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.088;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Tyngd-2_NJ-brodtext-2-indrag {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.088;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:1em;
	text-transform:none;
	widows:2;
}
p.Tyngd-3_NJ-Forfattning-113 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:1.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.096;
	margin-bottom:5px;
	margin-left:0;
	margin-right:0;
	margin-top:15px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-3_NJ-Kapitel-103 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.091;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-3_NJ-Underrubrik-111 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.088;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-3_NJ-Underrubrik2-112 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.667em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.088;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-3_NJ-brodtext-2 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.088;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Tyngd-3_NJ-brodtext-2-indrag {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.088;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:1em;
	text-transform:none;
	widows:2;
}
p.Tyngd-4_NJ-Forfattning-107 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:9px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-4_NJ-Kapitel-114 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.667em;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:1.063;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:8px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-4_NJ-Underrubrik-111 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.088;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-4_NJ-Underrubrik2-112 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.667em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.088;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-4_NJ-brodtext-2 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.088;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Tyngd-4_NJ-brodtext-2-indrag {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.088;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:1em;
	text-transform:none;
	widows:2;
}
p.Tyngd-5A_NJ-Avdelning-108 {
	-epub-hyphens:manual;
	-webkit-hyphens:manual;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-5A_NJ-Forfattning-113 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:1.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.096;
	margin-bottom:5px;
	margin-left:0;
	margin-right:0;
	margin-top:15px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-5A_NJ-Kapitel-115 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.583em;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:1.214;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-5A_NJ-Underrubrik-116 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.575em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.232;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-5A_NJ-Underrubrik2-117 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.575em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.232;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-5A_NJ-brodtext-3 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.608em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.164;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Tyngd-5A_NJ-brodtext-3-indrag {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.608em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.164;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:1em;
	text-transform:none;
	widows:2;
}
p.Tyngd-5A_NJ-brodtext-3-vansterjusterad {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.608em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.164;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Tyngd-5_NJ-Avdelning-108 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-5_NJ-Forfattning-110 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:1.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.096;
	margin-bottom:5px;
	margin-left:0;
	margin-right:0;
	margin-top:15px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-5_NJ-Kapitel-115 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.583em;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:1.214;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-5_NJ-Underrubrik-116 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.575em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.232;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-5_NJ-Underrubrik2-117 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.575em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.232;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-5_NJ-brodtext-3 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.608em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.164;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Tyngd-5_NJ-brodtext-3-indrag {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.608em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.164;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:1em;
	text-transform:none;
	widows:2;
}
p.Tyngd-6_NJ-Forfattning-107 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:9px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-6_NJ-Kapitel-115 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.583em;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:1.214;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-6_NJ-Underrubrik-116 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.575em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.232;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-6_NJ-Underrubrik2-117 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.575em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.232;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-6_NJ-brodtext-3 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.608em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.164;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Tyngd-6_NJ-brodtext-3-indrag {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.608em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.164;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:1em;
	text-transform:none;
	widows:2;
}
p.Tyngd-7_NJ-Forfattning-118 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.188;
	margin-bottom:2px;
	margin-left:0;
	margin-right:0;
	margin-top:10px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-7_NJ-Kapitel-115 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.583em;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:1.214;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-7_NJ-Underrubrik-116 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.575em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.232;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-7_NJ-Underrubrik2-117 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.575em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.232;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-7_NJ-brodtext-3 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.608em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.164;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Tyngd-7_NJ-brodtext-3-indrag {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.608em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.164;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:1em;
	text-transform:none;
	widows:2;
}
p.Tyngd-7_NJ-brodtext-3-vansterjusterad {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.608em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.164;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Tyngd-8_NJ-Forfattning-119 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    overflow-x: hidden;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.583em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.214;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:4px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-8_NJ-Underrubrik-120 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.575em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.232;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:2px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-8_NJ-Underrubrik2-121 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.575em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.232;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:2px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-8_NJ-brodtext-4 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.608em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.164;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:2px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Tyngd-8_NJ-brodtext-4-indrag {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.608em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.164;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:9px;
	text-transform:none;
	widows:2;
}
p.Tyngd-8_NJ-redaktionell-4 {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.567em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:0;
	margin-left:19px;
	margin-right:0;
	margin-top:1px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-8_NJ-redaktionell-4-efter-rubrik {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.567em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:1px;
	margin-left:19px;
	margin-right:0;
	margin-top:1px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tyngd-8_NJ-redaktionell-4-indrag {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:0.567em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:0;
	margin-left:19px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:1em;
	text-transform:none;
	widows:1;
}
span.NJ-Fet {
	font-style:normal;
	font-weight:bold;
}
span.NJ-Kursiv {
	font-style:italic;
	font-weight:normal;
}
span.NJ-Overrubrik-102 {
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.NJ-Overrubrik-108 {
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.NJ-Paragraf {
	font-family:"Myriad Pro", sans-serif;
	font-style:normal;
	font-weight:bold;
}

span.CharSuperscript {
	font-size:58%;
	vertical-align:super;
}

td.TableCellRightAlign p, td.Cellformat-hoger p {
	text-align: right;
}

/* style overrides */


/* App overrides */

body {
    background-color: rgb(241,242,231);
}

table, td, th {
	border-style:none !important;
	border-width:0px;
}

table {
	collapse:collapse;
    border: 0px;
    table-layout:auto;
    width:100%;
    overflow:hidden;
    margin: 0.5em 0em !important;

    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

td {
	vertical-align:top;
}

.textAlignRight {
	text-align: right !important;
}

span.NJ-Paragraf {
    word-spacing: -0.05em;
    margin-right: 0.3em;
}

.NJNote {
  font-family:"MarkerFelt-Thin";
  font-size:0.65em;
  padding:10px;
  box-shadow:0 1px 2px #aaa;
  background:#fff5d0;
  margin: 5px -15px 5px 5px;
  border-radius:3px;
  user-select:none;
}

p.Tyngd-1_NJ-Forfattning-101,
p.Tyngd-1A_NJ-Forfattning-107,
p.Tyngd-2_NJ-Forfattning-110,
p.Tyngd-3_NJ-Forfattning-113,
p.Tyngd-4_NJ-Forfattning-107,
p.Tyngd-5_NJ-Forfattning-110,
p.Tyngd-5A_NJ-Forfattning-113,
p.Tyngd-6_NJ-Forfattning-107,
p.Tyngd-7_NJ-Forfattning-118,
p.Tyngd-8_NJ-Forfattning-119,
p.Tyngd-1A_NJ-Kapitel-104,
p.Tyngd-1_NJ-Kapitel-103,
p.Tyngd-2_NJ-Kapitel-103,
p.Tyngd-3_NJ-Kapitel-103,
p.Tyngd-4_NJ-Kapitel-114,
p.Tyngd-5A_NJ-Kapitel-115,
p.Tyngd-5_NJ-Kapitel-115,
p.Tyngd-6_NJ-Kapitel-115,
p.Tyngd-7_NJ-Kapitel-115,
p.Tyngd-1_NJ-Underrubrik-104,
p.Tyngd-1_NJ-Underrubrik2-105,
p.Tyngd-1A_NJ-Underrubrik-109,
p.Tyngd-1A_NJ-Underrubrik2-106,
p.Tyngd-2_NJ-Underrubrik-111,
p.Tyngd-2_NJ-Underrubrik2-112,
p.Tyngd-3_NJ-Underrubrik-111,
p.Tyngd-3_NJ-Underrubrik2-112,
p.Tyngd-4_NJ-Underrubrik-111,
p.Tyngd-4_NJ-Underrubrik2-112,
p.Tyngd-5_NJ-Underrubrik-116,
p.Tyngd-5_NJ-Underrubrik2-117,
p.Tyngd-5A_NJ-Underrubrik-116,
p.Tyngd-5A_NJ-Underrubrik2-117,
p.Tyngd-6_NJ-Underrubrik-116,
p.Tyngd-6_NJ-Underrubrik2-117,
p.Tyngd-7_NJ-Underrubrik-116,
p.Tyngd-7_NJ-Underrubrik2-117,
p.Tyngd-8_NJ-Underrubrik-120,
p.Tyngd-8_NJ-Underrubrik2-121 {
	-epub-hyphens:manual;
	-webkit-hyphens:manual;
    overflow-x: hidden;
    line-height: 1.4;
    /* Fix for soft hyphen ligature bug in iOS 9.x */
    font-variant-ligatures: common-ligatures;
}

@media only screen and (max-device-width : 480px)
{
  body {
	margin:0px 15px 70px 15px;
    font-size:24px;
  }
  p.Tyngd-1_NJ-Forfattning-101 {
	font-size:1.2em;
  }
  .NJNote {
    margin: 5px 0px 5px 0px;
  }
  table {
    font-size:50%;
    font-size:2.5vw;    
  }
}

@media screen and (min-width:760px)
{
  body {
	margin:0px 30px 70px 30px;
    font-size:28px;
  }
  .NJNote {
    font-size:0.7em;
    margin: 10px 0px 10px 0px;
  }
  table {
    font-size:70%;
    font-size:2.5vw;  
  }
}

mark, .mark { background-color: Yellow; }