/* Android-specific */

body {
	/* -epub-hyphens:auto; */
    /* -webkit-hyphens:auto; */
}
body {
	font-family:"Myriad Pro";
    background-color: Transparent;
	margin:30px 20px 70px 20px;
    font-size:18px;
    color: white;
}
  
@font-face {
	font-family:"Myriad Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../font/MyriadPro-Regular.otf");
}
  
@page {
	margin : 0px 0px 0px 0px;
}

*:not(input):not(textarea) {
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

a:link, a:visited, a:hover, a:active {
    color:#ddd;
}

.srbokt {
	font-size:1.2em;
	font-weight:bold;
}

.sakord {
	font-weight:bold;
}

